---
layout: archive
---

{{ content }}

<!--========== Dan's Customizations START ==========-->
<!-- This line was already here. Just added the home-page-recent-posts id to it so we can adjust the spacing around it via css. -->
<h3 id="home-page-recent-posts" class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<!--========== Dan's Customizations END ==========-->

{% if paginator %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
	{% for post in posts %}
	{% include archive-single.html type=entries_layout %}
	{% endfor %}
</div>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0f44548b-039d-426d-9b87-3864426d41e0" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="220b7b7d-361e-43b7-9c41-e27f59e47dcb" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3aa708a7-6029-460b-a243-79036ca2422e" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="03a6cb87-40b9-4cda-bbab-b31c68693dc5" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="a9b93869-618c-4164-ab31-e7914276e7dd" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
{% include paginator.html %}
{% include analytics.html %}
